$white: #fff;
$dark: rgb(16, 15, 15);
$blue: rgb(93, 166, 225);
$red: rgb(226, 70, 42);
$green: rgb(114, 253, 98);

$p: 10px;

$tiny: 15px;
$small: 10px;
$med: 22px;
$big: 35px;

$br: 15px;

$shadow: 0px 0px 8px 1px rgba($dark, 0.2);
$dropShadow: 0px 0px 8px rgba($dark, 0.2);
$dropShadowRight: 4px 0px 4px rgba($dark, 0.2);
$dropShadowLeft: 0 3px 6px rgba($dark, 0.16), 0 3px 6px rgba($dark, 0.23);

$mobileWidth: 800px;
$moreMobileWidth: 650px;
